* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 100%;
  line-height: 100%;
  color: #6f749a;
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eff4f7;
}
#mynetwork {
  background-color: #fff;
  width: 820px;
  height: 500px;
  border: 2px solid #e5e7f1;
  border-radius: .625rem;
  padding: 2px;
}
.form-title {
  display: block;
  width: 100%;
  text-align: center;
}
.form-control{
  max-width: 300px;
  background-color: #fff;
  float: right;
  box-shadow: 0 0.375rem 1.25rem 0 rgba(61,66,80,.18);
  border-radius: .625rem;
  padding: 20px;
}

.add-node-form {
  position: absolute;
  top: 20px;
  right: 20px;
}

.add-edge-form,
.update-form,
.message-popup,
.edit-edge-form {
  position: absolute;
  top: 150px;
  right: 20px;
}

.export-form {
  margin-bottom: 20px;
  margin-top: 20px;
  position: absolute;
  left: 540px;
}

.row {
  width: 100%;
  margin-top: 10px;
}
.input, .area {
  color: #6f749a;
  font: 1rem/2.5rem Helvetica,Arial,sans-serif;
  width: 120px;
  height: 46px;
  border-radius: 8px 0px 0px 8px;
  border: 0;
  -webkit-box-shadow: inset 0 0 0 1px #ced0d9;
  box-shadow: inset 0 0 0 1px #ced0d9;
  padding: 7px 15px;
  font-family: Helvetica,Arial,sans-serif;
  font-weight: 300;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-appearance: none;
  vertical-align: middle;
}

.input.purple:active, .input.purple:focus {
  -webkit-box-shadow: inset 0 0 0 2px #784e8c, 0 0.0625rem 0.25rem 0 rgba(61, 66, 80, .18);
  box-shadow: inset 0 0 0 2px #784e8c, 0 0.0625rem 0.25rem 0 rgba(61, 66, 80, .18);
  outline: 0;
}

.input.green:active, .input.green:focus {
  -webkit-box-shadow: inset 0 0 0 2px #aeec73, 0 0.0625rem 0.25rem 0 rgba(61, 66, 80, .18);
  box-shadow: inset 0 0 0 2px #aeec73, 0 0.0625rem 0.25rem 0 rgba(61, 66, 80, .18);
  outline: 0;
}

input:active, input:focus {
  -webkit-box-shadow: inset 0 0 0 2px #3ecadd, 0 0.0625rem 0.25rem 0 rgba(61, 66, 80, .18);
  box-shadow: inset 0 0 0 2px #3ecadd, 0 0.0625rem 0.25rem 0 rgba(61, 66, 80, .18);
  outline: 0;
}

.btn {
  font: 1rem/2.5rem Helvetica,Arial,sans-serif;
  background-color: #3ecadd;
  border: 2px solid #3ecadd;
  color: #fff;
  height: 46px;
  border-radius: 0px 8px 8px 0px;
  line-height: 46px;
  padding: 0 20px;
  min-width: 105px;
  font-weight: 400;
  transition: .2s;
  text-align: center;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
}

.btn.red {
  background-color: rgba(233,73,112,1);
  border: 2px solid rgba(233,73,112,1);
}

.btn.blue {
  background-color: #3ecadd;
  border: 2px solid #3ecadd;
}

.btn.purple {
  background-color: #784e8c;
  border: 2px solid #88589f;
}

.btn.grey {
  background-color: #a3abc5;
  border: 2px solid #a3abc5;
}

.btn.green {
  background-color: #aeec73;
  border: 2px solid #aeec73;
}

.tabs-container {
  padding: 10px 20px;
}

.tab-link {
  color: #6f749a;
  border: none;
  background: transparent;
  border-radius: initial;
  transition: all .1s ease-in;
}

.tab-link.active {
  border-bottom: 2px solid #88589f;
  color: #88589f;
}

.messages {
  display: inline-block;
  color: red;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  white-space: pre-line;
  width: 100%;
}

#ok-btn,
#import-btn,
#export-btn,
.area,
#btn-check,
#btn-test {
  border-radius: 8px;
  margin: 0 auto;
}

#ok-btn:hover,
#import-btn:hover,
#export-btn:hover,
#btn-check:hover,
#btn-test:hover,
#generate-btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1px 4px 0 rgba(61, 66, 80, .18);
  box-shadow: 0 1px 4px 0 rgba(61, 66, 80, .18);
  position: relative;
}

#import-btn,
#export-btn {
  width: 120px;
}

#export-btn {
  margin-right: 10px;
}

#import-btn {
  margin-left: 10px;
}

.area {
  overflow: auto;
  width: 260px;
  height: 300px;
  margin-top: 20px;
  line-height: 1.5;
  margin-right: 10px;
}

#import-area:active,
#import-area:focus {
  -webkit-box-shadow: inset 0 0 0 2px #784e8c, 0 0.0625rem 0.25rem 0 rgba(61, 66, 80, .18);
  box-shadow: inset 0 0 0 2px #784e8c, 0 0.0625rem 0.25rem 0 rgba(61, 66, 80, .18);
  outline: 0;
}

.clear {
  display: inline-block;
  margin-top: 10px;
  font: 1rem/2.5rem Helvetica,Arial,sans-serif;
  color: #3ecadd;
  text-decoration: underline;
  line-height: 1;
}

.info {
  font-size: 14px;
  color: #784e8c;
  line-height: 1.5;
  display: inline-block;
  margin-top: 10px;
}
.clear:hover {
  cursor: pointer;
  color: #3ecadd;
}

.content-container {
  padding: 0 20px;
}

.title {
  display: inline-block;
  line-height: 46px;
  text-transform: capitalize;
  margin: 0;
}

.header-container {
  width: 830px;
  margin: 20px 0;
  min-height: 46px;
}

#test{
  -webkit-box-shadow: inset 0 0 0 2px #3ecadd, 0 0.0625rem 0.25rem 0 rgba(61, 66, 80, .18);
  box-shadow: inset 0 0 0 2px #3ecadd, 0 0.0625rem 0.25rem 0 rgba(61, 66, 80, .18);
  position: absolute;
  left: 260px;
}

#btn-check,
#btn-test {
  float: right;
  margin: 0 10px;
}

.input-control {
  float: right;
  height: 40px;
  width: 80px;
  border-radius: 8px;
}

.label-control {
  line-height: 40px;
}

.generate-form {
  max-width: none;
  width: 300px;
  position: absolute;
  right: 20px;
  top: 290px;
}

.generate-form .row {
  clear: both;
  display: inline-block;
}

#generate-btn {
  border-radius: 8px;
  margin-top: 8px;
  width: 100%;
}

#test-container {
  position: absolute;
  width: 220px;
}

#test-container .area {
  width: 220px;
}